#map, ymaps.ymaps-2-1-77-map, ymaps.ymaps-2-1-77-map.ymaps-2-1-77-i-ua_js_yes.ymaps-2-1-77-map-bg.ymaps-2-1-77-islets_map-lang-ru {
    height: 700px !important;
    width: 100%;
    margin-top: 10px;
}

.ymaps-2-1-77-copyright__wrap {
    display: none;
}